PORT=4000
NODE_ENV=development
BASE_URL=http://localhost:3000

GITHUB_CLIENT_ID=seu_client_id_aqui
GITHUB_CLIENT_SECRET=seu_client_secret_aqui

SESSION_SECRET=chave_super_secreta_aqui

FIREBASE_PROJECT_ID=seu-projeto
FIREBASE_CREDENTIALS={"type":"service_account","project_id":"seu-projeto",...}

CLOUDINARY_NAME=seu_cloudinary_name
CLOUDINARY_API_KEY=seu_api_key
CLOUDINARY_API_SECRET=seu_api_secret
